h1 {
    background-color: rgb(24, 4, 137);
    color: rgb(255, 255, 255);
  }
  body {
    background-color: azure;
max-width: 60em;
margin: 0 auto 0 auto;
color:rgb(14, 16, 128)

}
p { background-image: url("poe-portrait.png"); /* I am sad that I cannot make the images appear */
    border: 2px solid powderblue;
    padding: 30px;
  }
p {
    background-image: url("heart.jpg")
    /* I am very sad. I have tried for a long time to make 
    the image appear anywhere in the background */
}
p
  table, th, td {
border-collapse: collapse;
border: 1px solid #000;
padding: 1em;
}