h1 {
    color: rgb(119, 7, 247);
    background-color: azure;
  }
  body {
    background-color: rgb(0, 0, 0);
max-width: 60em;
margin: 0 auto 0 auto;
color:rgb(255, 255, 255)

}
p { /* I am hiding this code! background-image: url("../images/heart.jpg"); */
  background-image: url("../images/eye2.png");
  border: 3px solid rgb(199, 14, 100);
    padding: 20px;
    font-size:x-large
  }

p
  table, th, td {
    /*here I tried to change the font color, but I could not find a way. */
border-collapse: collapse;
border: 2px solid #a621d7;
background-color: rgb(249, 62, 62);
padding: 1em;
}